body {
	font-family:"Times New Roman", serif;
	font-size:20px;
}
p {
	margin-top:1em;
}
.nav-link {
	color:white;
}
label {
	display:block;
}
main {
	opacity:.01;
}
#msg {
	height:30px;
}
	
fieldset {
    border:thin solid #0275d8 !important;
    border-radius:8px;
    padding:1em !important;
    margin-bottom:1em !important;
}
legend {
    padding-left:1em !important;
    padding-right:1em !important;
	 width:inherit;
}
dd {
	margin-left:2em;
}